
#window {
    background-color: rgb(10, 10, 10);
}

#label {
    font-size: 2rem;
    color: white;
}

combobox button.combo {
    color: white;
    background-color: rgb(10, 10, 10);
}

combobox box arrow {
    -gtk-icon-source: none;
    color: rgb(10, 10, 10);
}

button {
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

#t_label {
    margin-right: 25px;
    margin-left: -25px;
}