combobox button.combo {
    color: white;
    background-color: rgb(10, 10, 10);
}

combobox box arrow {
    -gtk-icon-source: none;
    color: rgb(10, 10, 10);
}

button {
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

#window {
    background-color: rgb(10, 10, 10);
}

#label {
    font-size: 2rem;
    color: white;
}

#pm_am_button {
    font-size: 0.8rem;
    border: transparent;
}

#t_label {
    margin-right: 20px;
    margin-left: -25px;
}

#save_button {
    margin-left: 20px;
}